<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="UserRegisterDbEntities" connectionString="metadata=res://*/Account.UserRegister.UserInfo.csdl|res://*/Account.UserRegister.UserInfo.ssdl|res://*/Account.UserRegister.UserInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-PC\SQLEXPRESS;initial catalog=PSDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PrintShoppyEntities" connectionString="metadata=res://*/Account.AdminRegister.Admin.csdl|res://*/Account.AdminRegister.Admin.ssdl|res://*/Account.AdminRegister.Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0IDELBC\SQLEXPRESS;initial catalog=PrintShoppy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>